html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    background: green;
    margin: 0;
    padding: 5px;
}

ul li{
    list-style: armenian;
    margin: 0 25px;
}